.barChartBox {
  width: 100%;
  padding: 10px 15px 0 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;

  h5 {
    flex: 1;
    font-family: var(--font-mono);
  }

  .chart {
    flex: 9;
  }
}
