@import "../../styles/global.scss";
@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.menu {
  width: 15%;
  background-color: $main-bg;
  height: 100%;
  padding: 15px;
  border-radius: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include xxl {
    width: 70px;
    min-height: 80vh;
    margin-top: 80px;
    justify-content: space-between;
  }

  @include lg {
    display: none;
  }

  // @include sm {
  //   display: none;
  // }

  .head {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

    @include xxl {
      display: none;
    }

    .title {
      @include xxxl {
        display: none;
      }
    }
  }

  .profilePic {
    width: 60%;
    height: 60%;
    border-radius: 50%;
    object-fit: cover;
  }

  .group {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;

    .title {
      font-size: 12px;
      font-weight: 200;
      color: $soft-color;
      text-transform: uppercase;
      font-family: var(--font-mono);
      margin-top: 20px;
      @include xxl {
        display: none;
      }
    }

    .item {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      border-radius: 5px;

      &:hover {
        background-color: $soft-bg;
      }
      img {
        width: 12px;
        height: 12px;
        @include xxl {
          width: 24px;
          height: 24px;
        }
      }

      .itemTitle {
        font-size: 1rem;
        @include xxl {
          display: none;
        }
      }
    }
  }
}
