@import "../../styles/global.scss";
@import "../../styles/variables.scss";

.menu {
  width: 12%;
  background-color: $main-bg;
  height: 100%;
  padding: 15px;

  .head {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }

  .profilePic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }

  .group {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;

    .title {
      font-size: 12px;
      font-weight: 200;
      color: $soft-color;
      text-transform: uppercase;
      font-family: var(--font-mono);
      margin-top: 20px;
    }

    .item {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      border-radius: 5px;

      &:hover {
        background-color: $soft-bg;
      }
      img {
        width: 12px;
        height: 12px;
      }

      .itemTitle {
        font-size: 1rem;
      }
    }
  }
}
