.addUser {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .addUserContainer {
    width: 45vw;

    background-color: white;
    border-radius: 20px;
    padding: 20px;

    .items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 20px;
      gap: 25px;

      .item {
        color: var(--color-green400);
        width: 100%;
      }
    }

    .btn {
      grid-column: span 2;
      padding: 8px;
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h2 {
        color: darkgreen;
      }

      .icon {
        color: red;
        font-size: 25px;
        cursor: pointer;
      }
    }
  }
}
