@import "../../styles/responsive.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  height: 8vh;
  align-items: center;
  padding: 0 15px;

  .menuNavBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 5;

    .menuNavBarContainer {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .closeIcon {
        position: absolute;
        top: 5%;
        right: 5%;
        cursor: pointer;
        font-size: 35px;
      }

      .menuItems {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;

        .menuItem {
          cursor: pointer;
          height: 30px;

          // p {
          //   &:hover {
          //     font-size: 150%;
          //   }
          // }
        }
      }
    }
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .menuIcon {
      display: none;
      font-size: 35px;

      @include lg {
        display: block;
      }
    }

    .mainLogo {
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;

      @include lg {
        display: none;
      }
    }
  }

  span {
    font-weight: bold;
  }

  .icons {
    display: flex;
    gap: 15px;
    align-items: center;
    .notification {
      position: relative;

      span {
        position: absolute;
        top: -5px;
        right: -5px;
        background-color: red;
        border-radius: 50%;
        color: white;
        width: 15px;
        height: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
      }
    }
    .user {
      display: flex;
      align-items: center;
      gap: 5px;
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}
