@import "../../styles/variables.scss";

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  background-color: $main-bg;

  span {
    &:first-child {
      font-weight: bold;
      font-size: 12px;
    }
    &:last-child {
      font-size: 12px;
    }
  }
}
