.dataTable {
  .dataGrid {
    background: var(--color-bg500);
    color: white;

    .MuiSvgIcon-root {
      color: white;
    }

    .MuiTablePagination-displayedRows {
      color: white;
    }
  }
}
